[submodule "backend"]
	path = backend
	url = https://github.com/vientofactory/lawcast-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/vientofactory/lawcast-frontend.git
[submodule "semantic-search"]
	path = semantic-search
	url = https://github.com/vientofactory/semantic-search.git
[submodule "embedding-map"]
	path = embedding-map
	url = https://github.com/vientofactory/embedding-map.git
